<div class="container-fluid">
    <h1>Register</h1>

    <input id="username"
           ng-model="model.user.username"
           type="text"
           class="form-control"
           placeholder="username"/>

    <input id="password1"
           ng-model="model.user.password"
           class="form-control"
           type="password"
           placeholder="password">

    <input id="password2"
           ng-model="model.confirm"
           class="form-control"
           type="password"
           placeholder="verify password">

    <div class="margin-bottom-5px">
        <a >
            <button class="btn btn-primary btn-block" ng-click = "model.register(model.user,model.confirm)">Register</button>
        </a>
    </div>

    <a href="#/login">
        <button class="btn btn-danger btn-block">Cancel</button>
    </a>
</div>
