
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a class="content-color-black margin-left"  href="#/page-list">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a href="#/widget-choose">
            <div class="navbar-text pull-right margin-right">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </a>
        <div class="navbar-header">
            <a class="navbar-brand">Widgets</a>
        </div>
    </div>
</nav>

<!--Content-->
<div class="container-fluid">

    <div ng-repeat = "widget in model.widgets">
        <div ng-switch = "widget.widgetType">

            <div ng-switch-when="HEADER">
                <div class = "jga-toolbar">
                    <a>
                        <span class="glyphicon glyphicon-cog pull-right margin-right"></span>
                    </a>
                </div>
                <h1 ng-if="widget.size ==1">{{widget.text}}</h1>
                <h2 ng-if="widget.size ==2">{{widget.text}}</h2>
                <h3 ng-if="widget.size ==3">{{widget.text}}</h3>
                <h4 ng-if="widget.size ==4">{{widget.text}}</h4>
                <h5 ng-if="widget.size ==5">{{widget.text}}</h5>
                <h6 ng-if="widget.size ==6">{{widget.text}}</h6>
            </div>

            <div ng-switch-when="HEADING">
                <ng-include src="'widget-HEADING.view.client.html'">></ng-include>
                <div class = "jga-toolbar">
                    <a>
                        <span class="glyphicon glyphicon-cog pull-right margin-right"></span>

                    </a>
                </div>
                <h1 class="margin-left">{{widget.text}}</h1>
            </div>

            <div ng-switch-when="IMAGE">
                <ng-include src="'widget-IMAGE.view.client.html'"></ng-include>
                <div class = "jga-toolbar">
                    <a>
                        <span class="glyphicon glyphicon-cog pull-right margin-right"></span>

                    </a>
                </div>
                <image ng-src ="{{widget.url}}" width="90%" height="100%" class="margin-left"></image>
            </div>

            <div ng-switch-when="YOUTUBE">
                <ng-include src="'widget-YOUTUBE.view.client.html'"/>
                <div class = "jga-toolbar">
                    <a>
                        <span class="glyphicon glyphicon-cog pull-right margin-right"></span>
                    </a>
                </div>
                <iframe ng-src ="{{model.getYouTubeEmbedUrl(widget.url)}}"
                        height="400" width="90%" height="100%" class="margin-left"></iframe>
            </div>

            <div ng-switch-when="HTML">
                <ng-include src="'widget-HTML.view.client.html'"/>
                <div class = "jga-toolbar">
                    <a>
                        <span class="glyphicon glyphicon-cog pull-right margin-right"></span>
                    </a>
                </div>
                <p style="width: 90%" class="margin-left">{{widget.text}}</p>
            </div>
        </div>
    </div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="navbar-text pull-left margin-left content-color-black">
            <span class="glyphicon glyphicon-play"></span>
        </div>
        <div class="navbar-text pull-left margin-left content-color-blue">
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <a  href="#/profile">
            <div class="navbar-text pull-right margin-right content-color-blue">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </a>

    </div>
</nav>
