
    <!--Header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="navbar-text pull-left">
                <a class="content-color-black margin-left"
                   ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </div>
            <a ng-click = "model.create_page(model.page);" class="navbar-text pull-right margin-right">
                    <span class="glyphicon glyphicon-ok"></span>
            </a>
            <div class="navbar-header">
                <a class="navbar-brand">New Page</a>
            </div>
        </div>
    </nav>

    <!--Content-->
    <div class="container-fluid">
        <label>Name</label>
        <input id="pageName"
               type="text"
               class="form-control"
               placeholder="Page Name"/>
        <label>Title</label>
        <input id="pageTitle"
               type="text"
               class="form-control"
               placeholder="Page Title"/>
    </div>

    <!--Footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
            <a href="#/profile/{{model.userId}}">
                <div class="navbar-text pull-right margin-right content-color-blue">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </a>
        </div>
    </nav>
